#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.nav-cont {
  border: solid;
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 2.1rem;
  }
}

@media (min-width: 1200px) {
  .navbar-brand {
    font-size: 2.6rem;
  }
}

.nav-user-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.nav-user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-avatar {
  width: 35px;
  height: 35px;
}

.nav-msg {
  font-size: 16px;
  color: rgb(0, 33, 71);
}

.homepage-main {
  display: flex;
  flex-direction: column;
}

.homepage-search {
  width: 80%;
  margin: 0 auto;
  min-width: 300px;
}

.homepage-list {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .homepage-main {
    flex-direction: row;
    gap: 10px;
  }
  .homepage-search {
    width: 300px;
    height: 900px;
  }
}

.article-title {
  margin-top: 15px;
  margin-bottom: -10px;
}

.article-meta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.meta-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: white;
  text-align: center;
  min-height: 70px;
}

.article-author,
.article-date,
.article-comments {
  font-size: 0.9rem;
  margin: 0;
}

.like-box {
  display: flex;
  flex-grow: 0.5;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.article-comments {
  margin-left: 5px;
}

.comment-box {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
}

.article-card-link {
  text-decoration: none;
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.article-card,
.comment-card {
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  min-height: 550px;
  margin-bottom: 10px;
}

.comment-card {
  min-height: 300px;
}

.article-card img {
  min-height: 200px;
}

.article-title {
  min-height: 75px;
}

.ls-filter-box {
  border: 2px solid;
  max-width: 350px;
}

.ls-filter-group {
  margin-bottom: 50px;
}

.ls-filter-group .form-label {
  margin-bottom: 20px;
}

.ls-filter-box .form-select {
  margin-bottom: 20px;
}

.sign-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/plaid-77426_1280.jpg");
  height: 100vh;
}

.sign-in-form {
  border: 2px solid;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-in-form .form-label {
  margin-top: 20px;
  margin-bottom: 15px;
}

.sign-in-form .form-control {
  margin-bottom: 15px;
}
