#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background: url("../src/assets/plaid-77426_1280.jpg") repeat;
  background-position: center center;
  background-size: auto;
  min-height: 100vh;
  height: auto;
  margin: 0;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  width: 100%;
  margin-bottom: 20px;
}

.searchbar {
  background-color: blue;
  color: white;
  border: 1px solid white;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.article-card {
  max-width: 90%;
  max-width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 16px;
  border-bottom: 1px solid;
}

.article-card h3 {
  margin: 3px 0;
}

.article-card img {
  width: 100%;
}

.article-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  gap: 8px;
}

.article-card-actions svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
  }

  .article-card {
    max-width: 350px;
  }
}
